@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

$bp-small: 37.5em;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    height: 100vh;

    background: #e6e5ea;
    background: -webkit-linear-gradient(to top, #f2edff, #ebeaeb);
    background: linear-gradient(to top, #dbd8e2, #ffffff);
}

.nav {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100vw;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }

        h1 {
            font-size: 3rem;
            font-weight: 600;
            white-space: nowrap;
        }

        img {
            width: 8rem;
        }
    }

    &__form {
        position: relative;
        input {
            padding-left: 2rem;
            height: 5rem;
            width: 30rem;
            font-weight: 400;
            color: gray;
            border-radius: 100px;
            border: 2px solid rgb(187, 187, 187);
            transition: all 0.3s;

            &::placeholder {
                color: rgba(128, 128, 128, 0.639);
            }

            &:focus {
                outline: none;
                border: 2px solid gray;
            }
        }

        button {
            height: 4.3rem;
            width: 4.3rem;
            position: absolute;
            right: 0.5rem;
            border-radius: 100px;
            background-color: transparent;
            border: none;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s;

            &:active {
                padding-top: 5px;
            }
        }

        .search__icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: rgba(128, 128, 128, 0.639);
        }
    }
}

.container {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    max-width: 38rem;
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &__place {
        display: flex;
        gap: 0.5rem;
    }

    &__city {
        font-size: 3rem;
        font-weight: 400;
    }
    &__country {
        background-color: rgb(155, 155, 155);
        color: white;
        padding: 0.1rem 0.3rem;
        font-size: 1.6rem;
        border-radius: 10px;
        align-self: flex-start;
    }
    &__daytime {
        font-size: 4rem;
        line-height: 1;
    }
    &__condition {
        img {
            width: 10rem;
        }
    }
    &__temperature {
        grid-row: span 2;
        display: flex;

        span {
            font-size: 2.5rem;
        }
    }

    &__degrees {
        line-height: 1;
        font-size: 7rem;
        font-weight: 700;
    }

    &__condition-text {
        font-size: 1.5rem;
        text-align: center;
    }
}
